---
name: Validate renovate config

on:
  pull_request: {}
  push: {}

jobs:
  validate-renovate-config:
    name: Validate renovate config
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:42.79.1@sha256:03dcb35d9a3a693b9f2e4e2672737f562fbe09dd6b5e30042b688c0bb3c1386e
      options: --user root
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: renovate --version
      - run: renovate-config-validator default.json
