---
name: Validate renovate config

on:
  - push

jobs:
  validate-renovate-config:
    name: Validate renovate config
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:slim
      options: --user root
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - run: renovate --version
      - run: renovate-config-validator default.json
