---
name: Validate renovate config

on:
  pull_request: {}
  push: {}

jobs:
  validate-renovate-config:
    name: Validate renovate config
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:42.85.1@sha256:ccec2922bdb6c01f433beab1e87d95a7cf94d7e79818290e0859209d820b8a05
      options: --user root
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: renovate --version
      - run: renovate-config-validator default.json
