---
name: Validate renovate config

on:
  pull_request: {}
  push: {}

jobs:
  validate-renovate-config:
    name: Validate renovate config
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:42.66.12@sha256:5120c43e01371d05c3f6b0dbf62cd7ea67da7c9a2112551bfd149575fde8a1f6
      options: --user root
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: renovate --version
      - run: renovate-config-validator default.json
